.input-field{
	.add-todo{
		width: 330px !important;
		margin: 1px !important;
		>label {
			font-size: 18px !important;
		}
		> div{
			>input {
			width: 315px ;
			padding:5px ;
			}
		}
			
	}
	.btn-add-todo{
		margin-top:15px !important;
		margin-left:1px !important; 
		background-color:khaki !important;
		box-shadow: 2px 3px 0 0 gray;
	}
	.error-msg{
			color: $err-color;
			font-size: 18px;
			font-family: cursive;
		}

}
